<ion-content fullscreen="true" class="login-content">
  <div class="login-wrapper">
    <div class="login-header">
      <div class="logo-box">
        <img src="assets/logo.jpg" alt="Logo Escuela Metropolitana La Luz">
      </div>

      <h1>Portal para Profesores</h1>
      <p>Escuela Metropolitana La Luz</p>
    </div>

    <ion-card>
      <ion-card-content>
        <ion-input
          label="Correo electrónico"
          label-placement="stacked"
          placeholder="correo@ejemplo.com"
          type="email"
          [(ngModel)]="email">
        </ion-input>

        <ion-input
          label="Contraseña"
          label-placement="stacked"
          placeholder="********"
          type="password"
          [(ngModel)]="password">
        </ion-input>

        <ion-button expand="block" (click)="login()" [disabled]="loading">
  {{ loading ? 'Iniciando sesión...' : 'Iniciar sesión' }}
</ion-button>

<p class="error-message" *ngIf="errorMessage">
  {{ errorMessage }}
</p>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
