<ion-content>
  <div class="layout">
    <aside class="sidebar">
      <div class="sidebar-header">
        <img src="assets/logo.jpg" alt="Logo">
        <h3>Portal para Profesores</h3>
      </div>

      <nav>
  <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
  <a routerLink="/groups" routerLinkActive="active">Grupos</a>
  <a routerLink="/grade-capture" routerLinkActive="active">Captura de calificaciones</a>
  <a routerLink="/report-cards" routerLinkActive="active">Boletas</a>
  <a routerLink="/comments" routerLinkActive="active">Comentarios</a>
  <a routerLink="/notifications" routerLinkActive="active">Notificaciones</a>
  <a routerLink="/reports" routerLinkActive="active">Reportes</a>
</nav>
<div class="logout">
  <a routerLink="/login">Cerrar sesión</a>
</div>
    </aside>

    <main class="content">
      <section class="page-header">
        <h1>Estudiantes</h1>
        <p>Lista completa de estudiantes asignados</p>
      </section>

      <section class="filters-card">
        <input type="text" placeholder="Buscar estudiante...">
        <select>
          <option>Todos los grupos</option>
          <option>5to A</option>
          <option>5to B</option>
          <option>6to A</option>
        </select>
      </section>

      <section class="table-card">
        <table>
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Grupo</th>
              <th>Promedio</th>
              <th>Rendimiento</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let student of students">
              <td>{{ student.name }}</td>
              <td>{{ student.group }}</td>
              <td class="average">{{ student.average }}</td>
              <td>
                <span
                  class="badge"
                  [class.high]="student.performance === 'Alto'"
                  [class.medium]="student.performance === 'Medio'"
                  [class.low]="student.performance === 'Bajo'">
                  {{ student.performance }}
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </main>
  </div>
</ion-content>
